{% extends "_Layout.html" %}
{% block title %} Reuniones agendadas {% endblock %}
{% load static %}
{% block contenido %}
<center><h1>Todas las Reuniones</h1></center>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-sm table-responsive-ls">
                    <thead>
                        <tr>
                            <th scope="col">Reservado por:</th>
                            <th scope="col">Fecha y hora de inicio</th>
                            <th scope="col">Fecha y hora final</th>
                            <th scope="col">Sala</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in rooms %}
                        <tr class="table-active">
                            <th scope="row">{{a.user}}</th>
                            <td>{{a.startDate}}</td>
                            <td>{{a.endDate}}</td>
                            <td>{{a.room.nameRoom}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}